In [48]:
import pandas as pd 
import numpy as np
print(pd.__version__)

2.0.3

In [85]:
pd.options.display.max_columns = None

In [253]:
df = pd.read_csv("./../dataset/data1.csv")

In [254]:
df.head()

,Date,Season,Vụ nuôi,module_name,ao,Ngày thả,Time,Nhiệt độ,pH,Độ mặn,TDS,Độ đục,DO,Độ màu,Độ trong,Độ kiềm,Độ cứng,Amoni,Nitrat,Nitrit,Phosphate (PO43-),Silica,Canxi,Kali,Magie,Nhiệt độ.1,pH.1,Độ mặn.1,TDS.1,Độ đục.1,DO.1,Độ màu.1,Độ trong.1,Độ kiềm.1,Độ cứng.1,Amoni.1,Nitrat.1,Nitrit.1,Phosphate (PO43-).1,Silica.1,Canxi.1,Kali.1,Magie.1,F1,F2,F3,F4,F5,WQI,Loại ao,Công nghệ nuôi,Giai doan,area,Giống tôm,Số lượng post,Tuổi tôm,Con/Kg,Mực nước,Thay nước (cm)
0,21/6/2022,Rainy,Vụ 1-2022,A1,D3N6,69,8,29.53,7.33,21.53,21.77,39.48,4.54,273.0,19.0,130.0,3500.0,16.00,4.4,0.73,7.6,1.84,488.50,370.50,788.00,1.0,1.0,1.0,0.75,0.90,0.23,0.83,0.08,0.26,0.11,0.37,0.94,0.99,0.03,0.94,0.60,0.38,0.37,0.3708,0.1547,0.0538,0.0525,0.0090,0.64,Rectangle,Nuôi 1,NaN,1785.0,Vietuc,321750.0,78.00,55.00,75.0,0.0
1,20/6/2022,Rainy,Vụ 1-2022,A1,D3N6,68,8,29.65,7.40,21.34,21.77,38.12,5.02,435.0,19.0,119.0,3500.0,9.15,0.0,0.60,2.7,1.84,328.50,285.50,1017.25,1.0,1.0,1.0,0.75,0.90,0.34,0.73,0.08,0.22,0.11,0.64,1.00,0.99,0.21,0.94,0.33,0.25,0.49,0.3726,0.1549,0.0423,0.0526,0.0192,0.64,Rectangle,Nuôi 1,NaN,1785.0,Vietuc,NaN,79.00,NaN,60.0,0.0
2,19/6/2022,Rainy,Vụ 1-2022,A1,D3N6,67,8,29.51,7.44,21.18,21.63,37.85,5.16,440.0,19.0,118.0,4000.0,8.36,0.0,0.51,5.1,2.28,508.75,371.50,901.00,1.0,1.0,1.0,0.75,0.90,0.37,0.72,0.08,0.22,0.21,0.67,1.00,0.99,0.05,0.93,0.64,0.38,0.43,0.3822,0.1554,0.0576,0.0526,0.0164,0.66,Rectangle,Nuôi 1,NaN,1785.0,Vietuc,NaN,76.00,NaN,61.0,0.0
3,18/6/2022,Rainy,Vụ 1-2022,A1,D3N6,66,8,30.51,7.50,21.54,21.95,29.13,5.21,468.0,19.0,115.0,4000.0,7.36,0.0,0.30,1.2,2.96,454.50,353.50,690.00,1.0,1.0,1.0,0.75,0.93,0.38,0.71,0.08,0.21,0.21,0.71,1.00,0.99,0.09,0.90,0.54,0.36,0.31,0.3812,0.1538,0.0483,0.0532,0.0182,0.65,Rectangle,Nuôi 1,NaN,1785.0,Vietuc,NaN,77.00,NaN,61.0,10.0
4,17/6/2022,Rainy,Vụ 1-2022,A1,D3N6,65,8,30.18,7.51,21.55,21.96,25.62,5.07,438.0,20.0,112.0,3500.0,8.80,1.0,0.45,8.4,9.10,458.75,329.75,806.00,1.0,1.0,1.0,0.75,0.94,0.35,0.73,0.10,0.20,0.11,0.65,0.99,0.99,0.05,0.67,0.55,0.32,0.38,0.3691,0.1414,0.0495,0.0539,0.0159,0.63,Rectangle,Nuôi 1,NaN,1785.0,Vietuc,NaN,74.00,NaN,60.0,0.0

In [255]:
# df.info()

In [256]:
# df.describe()

In [257]:
df.columns

Index(['Date', 'Season', 'Vụ nuôi', 'module_name', 'ao', 'Ngày thả', 'Time',
       'Nhiệt độ', 'pH', 'Độ mặn', 'TDS', 'Độ đục', 'DO', 'Độ màu', 'Độ trong',
       'Độ kiềm', 'Độ cứng', 'Amoni', 'Nitrat', 'Nitrit', 'Phosphate (PO43-)',
       'Silica', 'Canxi', 'Kali', 'Magie', 'Nhiệt độ.1', 'pH.1', 'Độ mặn.1',
       'TDS.1', 'Độ đục.1', 'DO.1', 'Độ màu.1', 'Độ trong.1', 'Độ kiềm.1',
       'Độ cứng.1', 'Amoni.1', 'Nitrat.1', 'Nitrit.1', 'Phosphate (PO43-).1',
       'Silica.1', 'Canxi.1', 'Kali.1', 'Magie.1', 'F1', 'F2', 'F3', 'F4',
       'F5', 'WQI', 'Loại ao', 'Công nghệ nuôi', 'Giai doan', 'area',
       'Giống tôm', 'Số lượng post', 'Tuổi tôm', 'Con/Kg', 'Mực nước',
       'Thay nước (cm)'],
      dtype='object')

In [258]:
columns = ['Date', 'Season', 'Vụ nuôi', 'module_name', 'ao', 
           'Ngày thả', 'Time','Nhiệt độ', 'pH', 'Độ mặn', 
           'TDS', 'Độ đục', 'DO', 'Độ màu', 'Độ trong','Độ kiềm', 
           'Độ cứng','Loại ao', 'Công nghệ nuôi', 'area', 
           'Giống tôm', 'Tuổi tôm', 'Mực nước', 'Amoni', 
           'Nitrat', 'Nitrit', 'Silica', 'Canxi', 'Kali', 'Magie']
df = df[columns]

In [68]:
df.columns

Index(['Date', 'Season', 'Vụ nuôi', 'module_name', 'ao', 'Ngày thả', 'Time',
       'Nhiệt độ', 'pH', 'Độ mặn', 'TDS', 'Độ đục', 'DO', 'Độ màu', 'Độ trong',
       'Độ kiềm', 'Độ cứng', 'Loại ao', 'Công nghệ nuôi', 'area', 'Giống tôm',
       'Tuổi tôm', 'Mực nước', 'TAN', 'Nitrat', 'Nitrit', 'Silica', 'Canxi',
       'Kali', 'Magie'],
      dtype='object')

In [259]:
df.rename({'Amoni':'TAN'},axis=1,inplace=True)

In [260]:
# df.isna().sum()

In [261]:
# Cột 'Mực nước', thay các ô có giá trị = 0 thành NaN
# Thay các giá trị NaN bằng median của cột
df.loc[df['Mực nước']==0,'Mực nước']=np.NaN
df['Mực nước'].fillna(df['Mực nước'].median(),
                      inplace=True)

In [263]:
df.isna().sum().sum()

0

In [266]:
df['units'] = df.apply(lambda x:  f"{x['Vụ nuôi'].replace(' ','')}-{x['module_name']}-{x['ao']}" ,axis=1)

In [269]:
df['Date'] = pd.to_datetime(df['Date'],format='%d/%m/%Y')

In [270]:
df.sort_values(['units','Date'],inplace=True)

In [289]:
# df.head()

In [272]:
unit_l = list(df['units'].unique())

In [274]:
# df

In [275]:
# lastday columns
# Tạo thêm cột lastday-column chứa dữ liệu của ngày hôm trước
# trong mỗi hàng, khởi tạo các cột với giá trị NaN
#

output_column = ['TAN', 'Nitrat', 'Nitrit', 'Silica', 'Canxi', 'Kali', 'Magie']
ld_column = [f"ld_{col}" for col in output_column]
df[ld_column] = np.NaN

# Copy data của ngày hôm trước cho mỗi row
for unit in unit_l:
    df.loc[df['units']==unit,ld_column] = df.loc[df['units']==unit,output_column].shift(1).to_numpy(copy=True)

In [165]:
# df[df['units']==unit_l[0]][output_column].shift(1)

In [191]:
# unit=unit_l[0]
# df.loc[df['units']==unit,ld_column] = df.loc[df['units']==unit,output_column].shift(1).to_numpy(copy=True)

In [279]:
# df.loc[df['units']==unit,ld_column] = df.loc[df['units']==unit,output_column].shift(1).to_numpy(copy=True)

In [280]:
# df[300:330]

In [281]:
input_col = ['Season', 'Ngày thả', 'Time','Nhiệt độ', 'pH', 'Độ mặn', 
           'TDS', 'Độ đục', 'DO', 'Độ màu', 'Độ trong','Độ kiềm', 
           'Độ cứng','Loại ao', 'Công nghệ nuôi', 'area', 
           'Giống tôm', 'Tuổi tôm', 'Mực nước']
df = df[input_col+ld_column+output_column].copy()

In [282]:
df['Tuổi tôm'] = df['Tuổi tôm'].apply(lambda x: 
                                      int(float(x)) if x.replace('.','',1).isnumeric() 
                                      else np.NaN)

In [284]:
# df.isna().sum()

In [285]:
df.dropna(axis=0,inplace=True)

In [286]:
df.drop(['Time'], axis=1,inplace=True)

In [287]:
# df['Tuổi tôm'].astype(np.float32).astype(np.int32)

In [288]:
df.reset_index(drop=True,inplace=True)

In [222]:
from sklearn.preprocessing import OneHotEncoder

In [223]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161 entries, 0 to 1160
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Season          1161 non-null   object
 1   Ngày thả        1161 non-null   int64
 2   Nhiệt độ        1161 non-null   float64
 3   pH              1161 non-null   float64
 4   Độ mặn          1161 non-null   float64
 5   TDS             1161 non-null   float64
 6   Độ đục          1161 non-null   float64
 7   DO              1161 non-null   float64
 8   Độ màu          1161 non-null   float64
 9   Độ trong        1161 non-null   float64
 10  Độ kiềm         1161 non-null   float64
 11  Độ cứng         1161 non-null   float64
 12  Loại ao         1161 non-null   object
 13  Công nghệ nuôi  1161 non-null   object
 14  area            1161 non-null   float64
 15  Giống tôm       1161 non-null   object
 16  Tuổi tôm        1161 non-null   object
 17  Mực nước        1161 non-null   float64
 18  ld_TAN          1161 non-null   float64
 19  ld_Nitrat       1161 non-null   float64
 20  ld_Nitrit       1161 non-null   float64
 21  ld_Silica       1161 non-null   float64
 22  ld_Canxi        1161 non-null   float64
 23  ld_Kali         1161 non-null   float64
 24  ld_Magie        1161 non-null   float64
 25  TAN             1161 non-null   float64
 26  Nitrat          1161 non-null   float64
 27  Nitrit          1161 non-null   float64
 28  Silica          1161 non-null   float64
 29  Canxi           1161 non-null   float64
 30  Kali            1161 non-null   float64
 31  Magie           1161 non-null   float64
dtypes: float64(26), int64(1), object(5)
memory usage: 290.4+ KB

In [231]:
df['Tuổi tôm'].loc[0]

'11.00'

In [225]:
categorical_col = ['Season', 'Loại ao', 'Công nghệ nuôi', 'Giống tôm']
oh_enc = OneHotEncoder()
oh_enc.fit(df[['Season',]])

ValueError: Expected 2D array, got 1D array instead:
array=['Dry' 'Dry' 'Dry' ... 'Dry' 'Dry' 'Dry'].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.